/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --answer-color: #ff0070;
  --decor-border: #ff0070;
  --border-color: 255, 0, 112;
  --decoration-color: #ff0070;
  --pink-color: #db00ff;
  --background-color: #000028;
  --soft-rose: #f1b2ce;
}
