/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --decoration-color: #ff0070;
  --decor-border: #353430;
  --border-color: 53, 52, 48;
  --pink-color: #ffc2e6;
  --background-color: #fff1f7;
  --soft-rose: #353430;
  --answer-color: #353430;
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-light) .rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --decoration-color: #ff0070;
    --decor-border: #353430;
    --border-color: 53, 52, 48;
    --pink-color: #ffc2e6;
    --background-color: #fff1f7;
    --soft-rose: #353430;
    --answer-color: #353430;
  }
}
