/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-size: cover; /* растягиваем изображение */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--main-font, "IBM Plex mono"), sans-serif;
  font-size: var(--main-font-size);
}

.header {
  position: relative;
  height: 100vh;
  min-height: var(--min-height);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--decor-border);
  border-block-start: 1px solid var(--decor-border);
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--decor-border);
  border-block-end: 1px solid var(--decor-border);
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
}

.rec {
  position: absolute;
  color: var(--decoration-color);
  right: 28px;
  line-height: 25px;
  font-size: var(--main-font-size);
  font-weight: 400;
  text-transform: uppercase;
  top: 10px;
  right: 40px;
}

.rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decor-border);
  right: -20px;
  top: 8px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

/* КНОПКИ */

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-size: var(--main-font-size);
  line-height: 18px;
  font-family: var(--main-font);
  text-transform: lowercase;
  color: var(--answer-color);
  font-weight: 400;
  padding-inline: 13px;
  padding-block: 4px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-border);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--border-color), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--space-s);
}

/* ТЕКСТ header */

.big_title {
  color: var(--pink-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 83%;
  font-size: var(--font-size-big-title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
}

.header__text-paragraph {
  font-weight: 700;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.title-decor {
  background-color: var(--accent-color, rgb(255 0 112));
  color: var(--title-decor-color, #000028);
}

/* КАРТОЧКИ */

.main {
  padding: 0 var(--page-padding);
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  color: var(--soft-rose);
}

.content_section:not(:last-child) {
  margin-block-start: var(--content-margin-block-start);
  margin-block-end: var(--content-margin-block-end);
}

.question {
  font-weight: 700;
  font-size: inherit;
  line-height: var(--main-line-height);
  color: var(--answer-color);
}

.answer_title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: var(--main-line-height);
  margin-block-start: var(--answer-margin-block-start);
  margin-block-end: var(--answer-margin-block-end);
}

.big_answer {
  margin-block-start: 10px;
  font-family: inherit;
  font-weight: 400;
  line-height: var(--main-line-height);
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text__link:hover {
  text-decoration: underline;
}

.text__link:focus-visible {
  outline: 1px solid var(--soft-rose);
}

/* КАРТИНОЧКИ */

.image_section {
  display: grid;
  gap: var(--space-s);
}

.image_section img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* ПОДВАЛ */

.footer {
  position: relative;
  --page-padding: 0 13px 0 14px;
  padding: var(--page-padding);
  margin-block-start: var(--footer-margin-block-start);
  height: 100vh;
  min-height: var(--min-height);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--pink-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 83%;
  font-size: var(--font-size-big-title);
  text-shadow: 2px 2px 0 var(--accent-color);
  grid-row: 2;
}

/* РАЗНЫЕ ЭКРАНЫ */

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
    margin-block-end: 40px;
  }
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec {
    top: 20px;
    right: 50px;
  }
  .big_title {
    font-size: var(--font-size-big-title);
  }
  .header__text {
    width: calc(50% - 10px);
    justify-self: end;
  }
  .main .content_section:nth-child(odd):not(:last-child) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: var(--space-m);
  }

  .content_section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: 20px;
  }

  .answer {
    justify-self: end;
  }

  .question {
    margin-block-start: 20px;
    inline-size: 236px;
  }

  .concentration_section {
    margin-block-end: 100px;
  }

  /* КАРТИНКИ */

  .gallery {
    margin-block-start: 80px;
  }

  .image_section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--space-m);
    margin-block-start: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: start;
    padding-inline-start: var(--page-padding);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .question {
    inline-size: 315px;
  }

  .main .content_section:nth-child(odd):not(:last-child) {
    gap: var(--space-s);
  }

  .answer_concentration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-m);
  }

  .footer__title {
    font-size: var(--font-size-big-title);
  }
}
